arrow-cpp
attrs
bleach
boost-cpp
brotli
ca-certificates
certifi
defusedxml
double-conversion
entrypoints
fastparquet
gflags
glog
grpc-cpp
importlib_metadata
ipywidgets
jinja2
jpeg
jsonschema
libevent
libllvm8
lz4-c
markupsafe
mistune
mkl_fft
mkl_random
more-itertools
nbconvert
nbformat
notebook
numpy
openssl
pandoc
pandocfilters
parquet-cpp
prometheus_client
protobuf
pyarrow
pyrsistent
re2
scipy
send2trash
terminado
testpath
thrift
thrift-cpp
uriparser
widgetsnbextension
zipp
zstd
beautifulsoup4
blis
bottleneck
catalogue
chardet
cpools
cymem
cython
dataclasses
docopt
easydict
fastai
fastprogress
future
idna
joblib
keras
keras-radam
murmurhash
numexpr
nvidia-ml-py3
opencv-contrib-python
packaging
pipreqs
plac
preshed
ptflops
pycocotools
pygame
pyyaml
requests
scikit-learn
sklearn
soupsieve
spacy
srsly
tensorboardx
terminaltables
thinc
thop
torch
torchscan
torchsummary
urllib3
wasabi
yarg
